{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Tagebuch</title>{% endblock %}
  {% block header %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}"/>
  <link rel="shortcut icon" type"image/png" href="{% static 'diary/images/diary_icon.png' %}"/>
</head>

<body id="{% block body_id %}{% endblock %}">
  <div id="wrapper">
    <div id="header"></div>
    <div id="nav">
      <ul id="navbar">
        <li class="navbar"><a id="home-nav" href="{% url 'diary:index' %}">Home</a></li>
        <br>
        <li class="navbar"><a id="new-diary-nav" href="{% url 'diary:new_diary' %}">Neues Tagebuch</a></li>
        <li class="navbar"><a id="new-entry-nav" href="{% url 'diary:new_entry' %}">Neuer Eintrag</a></li>
        <li class="navbar"><a id="new-location-nav" href="{% url 'diary:new_location' %}">Neuer Ort</a></li>
        <li class="navbar"><a id="new-tag-nav" href="{% url 'diary:new_tag' %}">Neues Tag</a></li>
        <br>
        <li class="navbar"><a id="owners-nav" href="{% url 'diary:owner_list' %}">Tagebücher</a></li>
        <li class="navbar"><a id="entries-nav" href="{% url 'diary:entry_list' %}">Einträge</a></li>
        <li class="navbar"><a id="locations-nav" href="{% url 'diary:location_list' %}">Orte</a></li>
        <li class="navbar"><a id="tags-nav" href="{% url 'diary:tag_list' %}">Tags</a></li>
        <br>
        <li class="navbar"><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  <div id="main-content">
  {% block content %}{% endblock %}
  </div>
</body>
</html>
