{% extends "diary/base.html" %}

{% block body_id %}body-entries{% endblock %}

{% block content %}
  <h1>{{ entry.title }}</h1>

  <div>
    <table>
      <tr><td>Tagebuch von:</td><td><a class="owner" href="{% url 'diary:owner_detail' entry.owner.handle %}">{{ entry.owner }}</a></td></tr>
      <tr><td>Datum:</td><td>{{ entry.date }}</td></tr>
      <tr><td>Wochentag:</td><td>{{ entry.weekday }}</td></tr>
      <tr>
        <td>Tags:</td>
        <td>
          {% if entry.tags.all %}
          {% for tag in entry.tags.all %}
          <span class="entry-tag">{{ tag }}</span>
          {% endfor %}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Ort(e):</td>
        <td>
          {% if entry.locations.all %}
          {% for location in entry.locations.all %}
          <span class="location">{{ location }}</span>
          {% endfor %}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
    </table>
    <div class="entry">{{ entry.content|safe }}</div>
    <div class="action-bar">
      <a href="{% url 'diary:edit_entry' entry.owner.handle entry.date %}">Eintrag bearbeiten</a>
      <a href="{% url 'diary:delete_entry' entry.owner.handle entry.date %}">Eintrag löschen</a>
    </div>
  </div>
{% endblock %}
