{% extends "diary/base.html" %}

{% block body_id %}body-locations{% endblock %}

{% block content %}
  <h1>Orte</h2>
  {% if locations %}
      <ul>
      {% for location in locations %}
      <li><a class="list" href="{% url 'diary:location_detail' location.slug %}">{{ location }} ({{ location.owner }})</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>Keine Orte vorhanden.</p>
  {% endif %}
{% endblock %}
