{% extends "diary/base.html" %}

{% block body_id %}body-locations{% endblock %}

{% block content %}
  <h1>{{ location.name }}</h1>

  <div>
    <table>
      <tr><td>Tagebuch von:</td><td>{{ location.owner }}</td></tr>
      <tr><td>Längengrad:</td><td>{{ location.longitude }}</td></tr>
      <tr><td>Breitengrad:</td><td>{{ location.latitude }}</td></tr>
      <tr><td>PLZ:</td><td>{{ location.postal_code }}</td></tr>
      <tr><td>Straße:</td><td>{{ location.street }}</td></tr>
      <tr><td>Hausnummer:</td><td>{{ location.house_number }}</td></tr>
      <tr><td>Ort:</td><td>{{ location.city }}</td></tr>
      <tr><td>Beschreibung:</td><td>{{ location.description }}</td></tr>
    </table>
  </div>
  <div class="action-bar">
    <a href="{% url 'diary:edit_location' location.slug %}">Ort bearbeiten</a>
    <a href="{% url 'diary:delete_location' location.slug %}">Ort löschen</a>
  </div>
{% endblock %}
