{% extends "diary/base.html" %}

{% block body_id %}body-new-entry{% endblock %}

{% block header %}
  {% load static %}
  {{ form.media }}
{% endblock %}

{% block content %}
<script src="{% static "diary/js/webdiary.js"%}" defer></script>
<h1>Neuer Eintrag</h1>
<form method="post">
  {% csrf_token %}
  <table>
  {{ form }}
  </table>
  <button type="submit">Abschicken</button>
{% endblock %}
