{% extends "diary/base.html" %}

{% block body_id %}body-new-tag{% endblock %}

{% block content %}
<h1>Neues Tag</h1>
<form method="post">
  {% csrf_token %}

  {{ form.non_field_errors }}
  {% for hidden_field in form.hidden_fields %}
  {{ hidden_field.errors }}
  {{ hidden_field }}
  {% endfor %}

  <table>
    {% for field in form.visible_fields %}
    <tr>
      <th>{{ field.label_tag }}</th>
      <td>
        {{ field.errors }}
        {% if field.name == "name" %}#{% endif %}
        {{ field }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <button type="submit">Abschicken</button>
{% endblock %}
