{% extends "diary/base.html" %}

{% block body_id %}body-new-diary{% endblock %}

{% block content %}
<h1>Neues Tagebuch für</h1>
<form method="post">
  {% csrf_token %}
  <table>
  {{ form }}
  </table>
  <button type="submit">Abschicken</button>
{% endblock %}
