{% extends "diary/base.html" %}

{% block body_id %}body-owners{% endblock %}

{% block content %}
  <h1>Tagebücher</h2>
  {% if owners %}
      <ul>
        {% for owner in owners %}
        <li><a class="list" href="{% url 'diary:owner_detail' owner.handle %}">{{ owner }}, {{ owner.birthday }}</a></li>
        {% endfor %}
      </ul>
  {% else %}
      <p>Keine Tagebücher vorhanden.</p>
  {% endif %}
{% endblock %}
