{% extends "diary/base.html" %}

{% block body_id %}body-owners{% endblock %}

{% block content %}
  <h1>Tagebuch von</h1>
  <h2>{{ owner }}</h2>

  <div>
    <h3>Persönliche Daten</h3>
    <table>
      <tr><td>Geburtstag:</td><td>{{ owner.birthday }}</td></tr>
      <tr>
        <td>Zeit der Geburt:</td>
        <td>
          {% if owner.time_of_birth %}
          {{ owner.time_of_birth }}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>Geburtsort:</td>
        <td>
          {% if owner.place_of_birth %}
          {{ owner.place_of_birth }}
          {% else %}
          -
          {% endif %}
        </td>
      </tr>
    </table>
    <div class="action-bar">
      <a href="{% url 'diary:edit_owner' owner.handle %}">{{ owner.first_name }} bearbeiten</a>
      <a href="{% url 'diary:delete_owner' owner.handle %}">{{ owner.first_name }} löschen</a>
    </div>
  </div>
  <div>
    <h3>Tagebuch-Einträge</h3>
    {% if entries %}
    <ul>
    {% for entry in entries %}
      <li><a class="list" href="{% url 'diary:entry_detail' owner.handle entry.date %}">{{ entry }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>Keine Einträge für {{ owner }} vorhanden.</p>
    {% endif %}
  </div>
{% endblock %}
