{% extends "diary/base.html" %}

{% block body_id %}body-home{% endblock %}

{% block content %}
  <h1>Kürzlich erstellte Einträge</h2>
  {% if entries %}
    <ul>
    {% for entry in entries %}
    <li><a class="list" href="{% url 'diary:entry_detail' entry.owner.handle entry.date %}">({{ entry.creation_time }}) <strong>{{ entry.owner.str_short}}</strong>: {{ entry }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Keine Einträge vorhanden.</p>
  {% endif %}
{% endblock %}
