{% extends "diary/base.html" %}

{% block body_id %}body-tags{% endblock %}

{% block content %}
  <h1>{{ tag }}</h1>

  <div>
    <table>
      <tr><td>Tagebuch von:</td><td>{{ tag.owner }}</td></tr>
      <tr><td>Art des Tags:</td><td>{{ tag.type_of_tag }}</td></tr>
      <tr><td>Beschreibung:</td><td>{{ tag.description }}</td></tr>
    </table>
  </div>
  <div class="action-bar">
    <a href="{% url 'diary:edit_tag' tag.name %}">Tag bearbeiten</a>
    <a href="{% url 'diary:delete_tag' tag.name %}">Tag löschen</a>
  </div>
{% endblock %}
