{% extends "diary/base.html" %}

{% block body_id %}body-tags{% endblock %}

{% block content %}
  <h1>Tags</h2>
  {% if tags %}
      <ul>
      {% for tag in tags %}
      <li><a class="list" href="{% url 'diary:tag_detail' tag.name %}">{{ tag }} ({{ tag.owner }})</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>Keine Tags vorhanden.</p>
  {% endif %}
{% endblock %}
