body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 1020px;
}

#header {
  height: 2%;
}

#nav {
  background-color: #f1f1f1;
  height: 95%;
  position: fixed;
  width: 164px;
}

#main-content {
  float: right;
  height: 100%;
  width: 837px;
}

a.owner {
  color: black;
  text-decoration: none;
}

a.owner:hover {
  color: #aaa;
  text-decoration: underline;
  transition-duration: 0.2s;
}

a.list {
  color: black;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

a.list:hover {
  background-color: #555;
  color: white;
  transition-duration: 0.2s;
}

ul#navbar {
  list-style-position: inside;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

li.navbar a {
  color: #000;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

li.navbar a:hover {
  background-color: #555;
  color: white;
  transition-duration: 0.2s;
}

body#body-home a#home-nav,
body#body-entries a#entries-nav,
body#body-new-diary a#new-diary-nav,
body#body-new-entry a#new-entry-nav,
body#body-new-location a#new-location-nav,
body#body-new-tag a#new-tag-nav,
body#body-owners a#owners-nav,
body#body-entries a#entries-nav,
body#body-locations a#locations-nav,
body#body-tags a#tags-nav {
  background-color: #555;
  color: white;
}

.entry-tag {
  background: #ddd;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1px 5px;
}

.location {
  background: #ddd;
  border: 1px solid black;
  border-radius: 25px;
  padding: 1px 5px;
}

.entry {
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  max-width: 550px;
  min-width: 250px;
  padding: 20px;
}

.errorlist {
  color: #f00;
}

label.required:after {
  color: red;
  content: " *";
}

.login {
  margin: auto;
  margin-top: 150px;
  width: 30%;
}

.action-bar {
  margin: 40px 0px;
}

.action-bar a {
  background-color: #f1f1f1;
  color: black;
  padding: 16px 16px;
  text-decoration: none;
}

.action-bar a:hover {
  background-color: #555;
  color: white;
  transition-duration: 0.2s;
}
