{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Tagebuch</title>{% endblock %}
  {% block header %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{% static 'diary/style.css' %}"/>
  <link rel="shortcut icon" type"image/png" href="{% static 'diary/images/diary_icon.png' %}"/>
</head>

<body>
  <div class="login">
    <h2>Login</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  <div>
</body>
